<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Deer</string>
        <string>Dog</string>
        <string>Dolphin</string>
        <string>Dove</string>
        <string>Elephant</string>
        <string>Flamand</string>
        <string>Frog</string>
        <string>Goat1</string>
        <string>Goat2</string>
        <string>Horse1</string>
        <string>Horse2</string>
        <string>Owl</string>
        <string>Pig</string>
        <string>PolarBear</string>
        <string>Rabbit</string>
        <string>Whale</string>
	</array>
	<array>
		<string>House1</string>
        <string>House2</string>
        <string>House3</string>
        <string>House4</string>
        <string>House5</string>
        <string>House6</string>
        <string>House7</string>
        <string>House8</string>
        <string>House9</string>
        <string>House10</string>
        <string>House11</string>
        <string>House12</string>
        <string>House13</string>
        <string>House14</string>
        <string>House15</string>
        <string>House16</string>
	</array>
	<array>
		<string>Apple</string>
        <string>Dragon</string>
        <string>iPhone</string>
        <string>Number1</string>
        <string>Number2</string>
        <string>Number3</string>
        <string>Number4</string>
        <string>Number5</string>
        <string>Number6</string>
        <string>Number7</string>
        <string>Number8</string>
        <string>Number9</string>
        <string>Number10</string>
        <string>Santa</string>
        <string>Teddy</string>
        <string>Troll</string>
	</array>
	<array>
		<string>Baby1</string>
        <string>Baby2</string>
        <string>Baby3</string>
        <string>Child1</string>
        <string>Child2</string>
        <string>Child3</string>
        <string>ChildrenWithBus</string>
        <string>Cowboy</string>
        <string>Fireman1</string>
        <string>Fireman2</string>
        <string>Fireman3</string>
        <string>Police</string>
        <string>Princess1</string>
        <string>Princess2</string>
        <string>Princess3</string>
        <string>Woman</string>
	</array>
	<array>
		<string>Boat1</string>
        <string>Boat2</string>
        <string>Car1</string>
        <string>Car2</string>
        <string>Car3</string>
        <string>Helicopter</string>
        <string>Motorcycle1</string>
        <string>Motorcycle2</string>
        <string>Plane1</string>
        <string>Plane2</string>
        <string>Plane3</string>
        <string>Plane4</string>
        <string>Train1</string>
        <string>Train2</string>
        <string>Truck1</string>
        <string>Truck2</string>
	</array>
</array>
</plist>
