<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>Title</key>
                <string>Sharing</string>
            </dict>
            <dict>
                <key>FalseValue</key>
                <false/>
                <key>TrueValue</key>
                <true/>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
                <key>Title</key>
                <string>Message</string>
                <key>Key</key>
                <string>enableShareMessage</string>
                <key>DefaultValue</key>
                <true/>
            </dict>
            <dict>
                <key>FalseValue</key>
                <false/>
                <key>TrueValue</key>
                <true/>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
                <key>Title</key>
                <string>Mail</string>
                <key>Key</key>
                <string>enableShareMail</string>
                <key>DefaultValue</key>
                <true/>
            </dict>
            <dict>
                <key>FalseValue</key>
                <false/>
                <key>TrueValue</key>
                <true/>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
                <key>Title</key>
                <string>Facebook</string>
                <key>Key</key>
                <string>enableShareFacebook</string>
                <key>DefaultValue</key>
                <true/>
            </dict>
            <dict>
                <key>FalseValue</key>
                <false/>
                <key>TrueValue</key>
                <true/>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
                <key>Title</key>
                <string>Photos</string>
                <key>Key</key>
                <string>enableSharePhotos</string>
                <key>DefaultValue</key>
                <true/>
            </dict>
            <dict>
                <key>FalseValue</key>
                <false/>
                <key>TrueValue</key>
                <true/>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
                <key>Title</key>
                <string>Copy</string>
                <key>Key</key>
                <string>enableShareCopy</string>
                <key>DefaultValue</key>
                <true/>
            </dict>
            <dict>
                <key>FalseValue</key>
                <false/>
                <key>TrueValue</key>
                <true/>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
                <key>Title</key>
                <string>Print</string>
                <key>Key</key>
                <string>enableSharePrint</string>
                <key>DefaultValue</key>
                <true/>
            </dict>
        </array>
        <key>StringsTable</key>
        <string>Root</string>
    </dict>
</plist>